::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #212529;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: #fff;
}
